.directive-unhandled
    margin: 4px
    padding: 4px
    outline: 1px solid lightgrey

    mark
        text-decoration-line: underline
        background-color: unset
        color: unset

.directive-error
    margin: 4px
    padding: 4px
    outline: 1px solid lightcoral

    mark
        text-decoration-line: underline
        background-color: unset
        color: unset
