.header {
  padding: 10px;
  text-align: center;
  color: black;
  background-color: lightgrey;
}

.content {
  padding: 10px;
  text-align: center;
}

.inputtext {
  padding: 2px;
  min-width: 70%;
  min-height: 100px;
}

.rendered {
  text-align: left;
  margin-top: 10px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 4px;
  padding-left: 10px;
  outline: 1px solid lightgrey;
  min-height: 100px;
  /* See https://stackoverflow.com/questions/2062258/floating-elements-within-a-div-floats-outside-of-div-why */
  overflow-y: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #2a2a2c;
    color: #ffffffd9;
  }

  .inputtext {
    background-color: #2a2a2c;
    color: #ffffffd9;
  }
}
