/* default styling */
.directive-unhandled {
    margin: 4px;
    padding: 4px;
    outline: 1px solid lightgrey;
}

.directive-error {
    margin: 4px;
    padding: 4px;
    outline: 1px solid lightcoral;
}

.directive-unhandled mark .directive-error mark {
    text-decoration-line: underline;
    background-color: unset;
    color: unset;
}

.admonition {
    outline: 1px solid lightblue;
    margin: 4px;
    padding: 4px;
}

.admonition-title {
    text-decoration-line: underline;
}
